    /* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    /* Estilos Generales */

  body {
    background-color: #264653;
  }  

  a:visited, a:link {
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
    color: #edfaff;
  }

  .titulo-de-galerias {
    background: linear-gradient(to left,#264653,#264653,#3496bd);
    font-family: "Roboto Condensed", serif;
    margin-left: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #3496bd;
    color: #edfaff;
    border-radius: 15px 0 15px 0;
  }

    /* Estilos para el Navbar Mobile  */
  
  .navbar-mobile {
    background-color: #13232A;
  }

  .navbar-mobile div {
    background-color: #13232A;
  }

  .navbar-logo-mobile:hover{
    background: linear-gradient(to top,#264653,#3496bd,#92e0ff);
    transform: translateY(6px);
    box-shadow: 4px 4px 15px rgba(124, 208, 231, 0.5);
    border-radius: 50%;
  }

  .navbar-logo-mobile:active {
    background: #3496bd;
    border: 2px solid #92e0ff;
  }

  .boton-menu-hamburguesa {
    background: linear-gradient(to top,#264653,#264653,#3496bd,#92e0ff);
    border: 3px solid #92e0ff;
    padding: 10px;
    margin-right: 15px;
  }

  .boton-menu-hamburguesa:hover {
    transform: translateY(2px);
    box-shadow: 8px 8px 8px rgba(124, 208, 231, 0.5);
  }
  
  .cruz-navbar-mobile {
    background-color: white;
  }

  h5 {
    font-family: "Dancing Script", cursive;
    color: #a0e4ff;
    padding-left: 10px;
    padding-top: 5px;
  }

  .nav-link-mobile {
    font-family: "Dancing Script", cursive;
    padding-left: 10px;
    border-radius: 10px;
  }

  .nav-link-mobile:hover {
    color: #92e0ff;
    border: 1px solid #92e0ff;
    background: linear-gradient(to right,#264653,#3496bd,#92e0ff);
    box-shadow: 4px 4px 12px rgba(124, 208, 231, 0.5);
    transform: translatey(-2px);
  }

    /* Estilos para el Navbar Desktop  */

  .navbar-desktop {
    padding: 5px; 
    background-color: #13232A;
  }
  .navbar-logo {
    border-radius: 50%;
  }

  .navbar-logo:hover {
    background: linear-gradient(to top,#264653,#264653,#3496bd,#92e0ff);
    transform: scale(1.1);
    transform: translateY(-6px);
    box-shadow: 5px 5px 20px rgba(124, 208, 231, 0.5);
  }

  .navbar-logo:active {
    background: #3496bd;
    border: 2px solid #92e0ff;
  }

  .boton {
    background: linear-gradient(to right,#264653,#264653,#3496bd);
    border: 1px solid #3496bd;
    border-radius: 15px 0;
    margin: 8px;
    padding: 5px;
  }
  
  .boton:hover {
    transform: scale(1.1);
    background: linear-gradient(to top,#264653,#264653,#3496bd,#92e0ff);
    transform: rotate(357deg);
    box-shadow: 5px 5px 10px rgba(124, 208, 231, 0.5);
  }
  
  .boton:active {
    font-size: 120%;
    background: #3496bd;
    border: 2px solid #92e0ff;
  }

    /* Estilos para el main Mobile */

  .titulo-principal {
    display: inline;
    text-align: center;
  }
                 /* Una grilla con 5 filas, una para cada item */

  .grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    height: auto;
    width: 100%; 
    padding: 20px;
  }

                 /* Estilos de cada fila */ 
                 /* Una grilla con 5 filas: 4 para la imagen y 1 para la descipcion (Vertical)*/

  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    width: 100%; 
    height: 200px; 
    background: linear-gradient(to right,#264653,#264653,#3496bd);
    border: 1px solid #3496bd;
    border-radius: 8px;
    overflow: hidden; /* Para que el contenido no se salga de los bordes */
  }

                 /* Estilos para la imagen */

  .imagen {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

               /* Estilos para la descripción */

  .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
  }

              /* Estilos para la descripcion 1 */

  .descripcion-span {
    padding: 1px 5px;
    font-family: Lora, serif;
    color: white;
    font-size: 12px;

  }
             /* estilos para los items de la lista principal  */

  .items-de-lista-principal {
    text-decoration: underline;
    color: white;
  }

  .main-mobile h1 {
    font-size: 20px;
    margin: 4px;
    padding: 4px;
  }

  .main-mobile h2 {
    font-size: 16px;
  }

  .main-mobile h3 {
    font-size: 16px;
  }

  .main-mobile h1, h2, h3 {
    color: white;
    font-family: "Dancing Script", cursive;
  }
  
  .main-mobile p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #beedff;
    margin: 2px 5%;
  }
  .main-mobile ul {
    font-family: 'Poppins', sans-serif;
    margin-right: 5%;
    font-size: 12px;
    text-align: left;
    list-style: none;
    color: #beedff;
  }

  /* Media query para el Main Desktop (pantallas grandes) */

  @media (min-width: 768px) {

          /* Ahora es una grilla con 5 columnas: 2 para la imagen y 3 para la descripcion (Horizontal) */

    .item {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr;
      height: 300px;
      border-radius: 0 25px 0 0;
    }

    .imagen {
      width: 100%;
      height: 100%;
      border-radius: 0; 
      border: 2px solid #edfaff;
      border-right: none;
    }

    .descripcion {
      width: 100%;
      padding: 20px;
      background: linear-gradient(to bottom,#edfaff,#beedff,#a0e4ff);
      border: 2px solid  #edfaff;
    }

    .descripcion-span {
      margin: 3px;
      padding: 10px 20px;
      color: #edfaff;
      background: linear-gradient(to right,#264653,#264653,#3496bd);
      border-radius: 0 15px;
      font-family: Lora, serif;
      font-size: 18px;
    }
    
    .main-desktop section div p {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      margin: 3px;
      padding: 3px;
      color: #13232A;
    }

    .main-desktop h1 {
      margin: 5px;
      font-size: 34px;
    }

    .main-desktop h2 {
      font-size: 26px;
    }

    .main-desktop h3{
      font-size: 24px;
    }

    .main-desktop h1,h2,h3 {
      color: white;
      font-family: "Dancing Script", cursive;
    }
   
   .main-desktop ul {
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     text-align: left;
     list-style: none;
     color: #beedff;
    }

   .main-desktop p {
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     color: #beedff;
     margin: 3px 5%;
   }
  }


  /* Estilos para el Footer */

  .footer {
    background-color: #13232A;
    padding: 0;
    font-size: 10px;
  }
  .footer form {
    background-color: #13232A;
  }

  @media (min-width:768px){

    .footer {
      font-size: 16px;
    }
  }

  /* estilos para las galerias */

.galeria {
  margin: 0;
  padding: 0;
}
.galeria ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 5px;
  gap: 15px;

}
.galeria li {
  border: 1px solid #3496bd;
  border-radius: 8px;
  overflow: hidden;
}
.galeria li:hover{
  transform: scale(1.05);
  box-shadow: 2px 2px 8px rgba(124, 208, 231, 0.7);
}
figure {
  margin: 0;
  padding: 0;
}

figcaption {
  padding: 5px;
  background: linear-gradient(to top,#3496bd,#264653);
  color: #edfaff;
  font-family: "Roboto Condensed", serif;
  font-size: 18px;
  text-align: center;
}

.galeria ul li figure img {
  width: 100%;
  height: auto;
  display: block;
}

/* Media Query para las galerias */

    /* a partir de 550px y hasta 767px la grilla tiene dos columnas */

@media (min-width: 550px) and (max-width:767px){
  .galeria ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

    /* a partir de 768px la grilla tiene 4 columnas  */

@media (min-width: 768px) {
  .galeria ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

  /* Media Query para Desktop (pantallas grandes) */

       /* Despues de los 767px el display solo muestra el navbar y el main para Desktop */

 @media (min-width: 768px) {
    
    .navbar-mobile {
      display: none;
    }

    .navbar-desktop {
      display: flex;
    }

    .main-mobile {
      display: none;
    }

    .main-desktop {
      display: flex;
    }
}


/* Media Query para dispositivos móviles (pantallas pequeñas) */

    /* Hasta los 767px el Display solo muestra el Navbar y el Main para Mobile */

@media (max-width: 767px) {

    .navbar-mobile {
      display: block;
    }

    .navbar-desktop {
      display: none;
    }
    
    .main-mobile {
      display: block;
    }

    .main-desktop {
      display: none;
    }
}
