.titulo-principal {
    display: inline;
    text-align: center;
  }
                 /* Una grilla con 5 filas, una para cada item */
  .grilla {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    height: auto;
    width: 100%; 
    padding: 20px;
  }
                 /* Estilos de cada fila */ 
                 /* Una grilla con 5 filas: 4 para la imagen y 1 para la descipcion (Vertical)*/
  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    width: 100%; 
    height: 350px; 
    @include gradiente(to right,$color7,$color6,$color5);
    @extend .border2;
    border-radius: 8px;
    overflow: hidden;
  }
  .imagen {
    grid-row: 1/2;
    @extend .img-full;
    border-radius: 8px;
    overflow: hidden;
  }
  .fondo-img {
    grid-row: 1/2;
    @extend .img-full;
  }
  .descripcion {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
  
  }
  .descripcion-h4 {
    grid-row: 2/3;
    padding: 1px 5px;
    @include fuente (Lora,14px);
    color: $color0;
  }
  .items-de-lista-principal {
    text-decoration: underline;
    color: $color0;
  }
  
  .main-mobile {

    h1 {
      font-size: 20px;
      margin: 4px;
      padding: 4px;
    }
    h2, h3 {
      font-size: 18px;
      text-align: center;
    }
  
    h1, h2, h3 {
      color: $color0;
      font-family: "Dancing Script", cursive;
    } 
  
    p {
      @include fuente (Poppins,10px);
      color: $color2;
      margin: 2px 5%;
    }
    ul {
      @include fuente (Poppins,10px);
      margin-right: 5%;
      text-align: left;
      list-style: none;
      color: $color2;
    }
  }  
