.navbar-mobile, .navbar-mobile div {
    @include gradiente(to top,$color7,$color6,$color5);
}  
.navbar-logo-mobile:hover{
    @include gradiente(to top,$color7,$color5,$color3);
    transform: translateY(6px);
    box-shadow: 4px 4px 15px rgba(124, 208, 231, 0.5);
    border-radius: $radius-circulo;
}
  
.navbar-logo-mobile:active {
    @extend .border;
}
.boton-menu-hamburguesa {
    @include gradiente(to top,$color3,$color5,$color7);
    @extend .border;
    padding: 10px;
    margin-right: 15px;
}
.boton-menu-hamburguesa:hover {
    transform: translateY(2px);
    box-shadow: 8px 8px 8px rgba(124, 208, 231, 0.5);
}     
.cruz-navbar-mobile {
    background-color: $color0;
}
    
h5 {
    @include fuente ("Dancing Script",24px);
    color: $color3;
    padding-left: 10px;
    padding-top: 5px;
}
    
.nav-link-mobile {
    padding-left: 10px;
    border-radius: 10px;
}
    
.nav-link-mobile:hover {
    color: $color4;
    @extend .border;
    @include gradiente(to right,$color7,$color5,$color3);
    box-shadow: 4px 4px 12px rgba(124, 208, 231, 0.5);
    transform: translatey(-2px);
}