@import "./partials/variables";
@import "./partials/extends";
@import "./partials/nav-bar-desktop";
@import "./partials/nav-bar-mobile";
@import "./partials/galerias";
@import "./partials/main-mobile";
@import "./partials/main-desktop";
@import "./partials/footer";
@import "./partials/animaciones";
@import "./partials/media-queries";

/* Reseteo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
/* Estilos Generales */
    
body {
  background:linear-gradient(to left,$color6,$color5);
}  
  
a:visited, a:link {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: $color1;
}